<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='theme-color' content='#333')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title GΔLLΞRY

		include criticalStyles

		each stylePath in styles
			link(rel='stylesheet', href=`${stylePath}`)

	body
		include preloader

		block content

		each scriptPath in scripts
			script(src=`${scriptPath}`)