// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&text=404pagenotfoundReturn');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100&text=0123456789pagenotfoundgoback');


absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0

background-default()
	background-size cover
	background-position center
	background-repeat no-repeat



body
	position relative
	height 100vh
	margin 0
	padding 0
	background-color #252626
	// font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
	overflow hidden


.gallery
	position absolute
	display grid
	justify-content center
	align-content center
	animation fade-in .4s forwards

	@media (min-width 720px)
		top 0
		left 0
		width: calc(95% - 1em)
		height: calc(100vh - 1em)
		grid-auto-rows: calc((calc(100vh - 1em) / 30) - 10px)
		grid-auto-columns: calc((calc(100% - 1em) / 30) - 10px)
		grid-gap 10px

	@media (min-width 960px)
		top 3em
		left 3em
		width: calc(95% - 6em)
		height: calc(100vh - 6em)
		grid-auto-rows: calc((calc(100vh - 6em) / 30) - 20px)
		grid-auto-columns: calc((calc(100% - 6em) / 30) - 20px)
		grid-gap 20px

	&__item
		position relative
		pointer-events none
		// image-rendering pixelated
		opacity .8
		transition all .4s
		.image
			absolute()
			background-default()
			filter saturate(0) contrast(1.5)
			transition all .4s

		.revealer
			content ''
			position absolute
			top -2px
			left -2px
			width calc(100% + 4px)
			height calc(100% + 4px)
			background-color #262626
			transform-origin 50% 100%
			pointer-events none
			z-index 1

		&.loaded
			pointer-events all
			cursor pointer
			.revealer
				animation showY 1s cubic-bezier(.7, 0, .3, 1) forwards



		&:focus
		&:hover
			outline none
			opacity 1
			.image
				filter saturate(1.1) contrast(1.1)


	&__link
		display flex
		align-items center
		padding 1em
		background-color #FFFA3A
		box-shadow 7px 7px 0px #111
		color #252626
		transition all .2s
		animation fade-in .4s forwards
		cursor pointer
		svg
			margin 0 0 0 auto
			width 1.5em
			height 1.5em
			polygon
				fill currentColor
		
		&[data-direction='prev']
			svg
				margin 0
				transform rotate(180deg)

		// &:focus
		&:hover
			outline none
			background-color #442EF4
			color #FFF
	


.page-number
	position fixed
	left 5px
	bottom 0
	font-size 12em
	line-height 1
	color #442EF4
	pointer-events none
	text-shadow -9px 10px 0px #111



section
	animation fade-in .6s forwards

	&.not-found
		absolute()
		height 100vh
		padding 20px
		text-shadow 12px 7px 7px rgba(17, 17, 17, .3)
		user-select none
		z-index 2
		&:before
			content ''
			position absolute
			top 0
			left 0
			bottom 0
			width 50%
			background scrim-gradient(
				90deg,
    			#262626,
    			transparent
  			)

		&[data-slideshow='false']
			background-image url('./assets/404-bg.jpg')
			background-default()

		
		&>*
			position relative
			margin 0
			color #FFF
			font-weight 100
			z-index 2
		h1
			font-size 12em
			line-height 1
			margin 0 0 0 -6px
		h3
			font-size 2em
			margin 0 0 20px
		a
			font-size 1.4em
			line-height 1
			letter-spacing 1px
			text-decoration none
			border-bottom 1px solid transparent
			transition all .2s
			&:hover
				border-bottom 1px solid #FFF


	&.slideshow
		absolute()
		z-index 1
		.slide
			absolute()
			background-default()
			transition opacity 2s


.visible
	opacity 1

.hidden
	opacity 0


@import 'partials/animation'
@import 'partials/scrollbar'



// route animation
.route-transition
	&-enter
		&-active
			.gallery__item
				opacity 0
				pointer-events none
				animation fade-in-special 0s forwards
				animation-delay 1s
				.revealer
					animation showY 1s cubic-bezier(.7, 0, .3, 1) forwards
					animation-delay 1s
			
			.gallery__link
				opacity 0
				transition opacity 0s
				animation fade-in 1s forwards
				animation-delay 1s
			
			.page-number
				opacity 0
				animation fade-in 1s forwards
				animation-delay 1s


	&-exit
		&-active
			.gallery__item
				pointer-events none
				animation fade-out 0s forwards
				animation-delay 1s
				.revealer
					animation hideY 1s cubic-bezier(.7, 0, .3, 1) forwards

			
			.gallery__link
				animation fade-out .5s forwards
			
			.page-number
				animation fade-out .5s forwards
				animation-delay .5s