// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&text=404pagenotfoundReturn');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100&text=404pagenotfoundgoback');

body
	position relative
	min-height 100vh
	margin 0
	padding 0
	// background-color #dde9e6
	background-color #252626
	// font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
	overflow hidden


.gallery
	position absolute
	display grid
	justify-content center
	align-content center

	@media (min-width 720px)
		top 0
		left 0
		width: calc(95% - 1em)
		height: calc(100vh - 1em)
		grid-auto-rows: calc((calc(100vh - 1em) / 30) - 10px)
		grid-auto-columns: calc((calc(100% - 1em) / 30) - 10px)
		grid-gap 10px

	@media (min-width 960px)
		top 3em
		left 3em
		width: calc(95% - 6em)
		height: calc(100vh - 6em)
		grid-auto-rows: calc((calc(100vh - 6em) / 30) - 20px)
		grid-auto-columns: calc((calc(100% - 6em) / 30) - 20px)
		grid-gap 20px

	&__item
		position relative
		padding 1em
		background-repeat no-repeat
		background-position center
		background-size cover
		cursor pointer
		// opacity 0
		box-shadow 0px 0px 10px rgba(17, 17, 17, .8)
		transition opacity .2s, box-shadow .4s, filter .2s
		transition-timing-function linear
		// filter grayscale(100%)
		image-rendering pixelated
		&.loaded
			opacity 1
			box-shadow 4px 4px 20px rgba(17, 17, 17, .8)

		&:before
			content ''
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background currentColor
			mix-blend-mode exclusion
			opacity 0
			pointer-events none
			transition opacity .2s
		
		&:hover
			filter grayscale(0%)
			&:before
				opacity 1


	&__link
		display flex
		align-items center
		padding 1em
		background-color  #FFFA3A
		color #252626
		cursor pointer
		transition all .2s
		svg
			width 1.5em
			height 1.5em
			polygon
				fill currentColor
		
		&[data-direction='prev']
			svg
				transform rotate(180deg)

		&:hover
			background-color #442EF4
			color #FFF

	

section
	animation fade-in .6s forwards

	&.not-found
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		height 100vh
		padding 20px
		text-shadow 12px 7px 7px rgba(17, 17, 17, .3)
		user-select none
		&:before
			content ''
			position absolute
			top 0
			left 0
			bottom 0
			width 30%
			background linear-gradient(to right, rgba(38, 38, 38, 0.95), rgba(38, 38, 38, 0))
			z-index 2
		&[data-slideshow='false']
			background-image url('./assets/404-bg.jpg')
			background-size cover
			background-position center
			background-repeat no-repeat

		
		&>*
			position relative
			margin 0
			color #FFF
			font-weight 100
			z-index 2
		h1
			font-size 12em
			line-height 1
			margin 0 0 0 -6px
		h3
			font-size 2em
			margin 0 0 20px
		a
			font-size 1.4em
			line-height 1
			letter-spacing 1px
			text-decoration none
			border-bottom 1px solid transparent
			transition all .2s
			&:hover
				border-bottom 1px solid #FFF


#slideshow
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index 1
	animation fade-in .6s forwards
	.slide
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background-size cover
		background-position center
		background-repeat no-repeat
		transition opacity 2s


.visible
	opacity 1

.hidden
	opacity 0


@import 'partials/animation'
@import 'partials/scrollbar'